CompileFlags:
  CompilationDatabase: .
  Compiler: D:/platformIO/packages/toolchain-xtensa-esp-elf/bin/xtensa-esp32s3-elf-g++

  Add:
    - --query-driver=D:/platformIO/packages/toolchain-xtensa-esp-elf/bin/xtensa-esp32s3-elf-g++
    - --target=xtensa-esp32s3-none-elf
    -mstrict-volatile-bitfields
-mno-tree-switch-conversion
-mlongcalls